<div class="container mt-5">
  <div class="text-center">
    <h1> Bienvenido</h1>
  </div>

</div>
<div class="container mt-5 pb-4 borde-login">
  <form [formGroup]="loginForm" >
    <div class="mb-3">
      <label for="txtemail" class="form-label">Correo Electronico</label>
      <input type="email" class="form-control" id="txtemail" formControlName="email"  >

    </div>
    <div class="mb-3">
      <label for="txtpassword" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="txtpassword" formControlName="password" >
    </div>

    <button type="submit" class="btn btn-success me-1" (click)="onLogin()">Iniciar sesión</button>
    
  </form>
</div>
 